@charset "utf-8";
/* CSS Document */


div.stat
{
	border: solid black 1px;
	margin-left: 15px;
	margin-bottom: 15px;
	width: 200px;
	height: 25px;
}
div.town
{
	border: solid black 1px;
	margin-left: 15px;
	margin-bottom: 15px;
	width: 200px;
	height: 50px;
}
